@{
    ViewBag.Title = "DarkLayoutPage";
}


<h2>DarkLayoutPage</h2>

Hello CompShop Application. I am in RenderBody section because there is no named section for me.

@*@Render("~/Views/Shared/_StaticPromotionalPage.cshtml")*@

@section Note
{
    I am a RenderSectionArea.
}

@section Footer
{
    I am Footer Section Areas.
}


<h2>Hello world</h2>