@{
    ViewBag.Title = "Custom Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<h2>Hello World 2021!</h2>

Hello CompShop Application. I am in RenderBody section because there is no named section for me.

@*@RenderPage("~/Views/Shared/_StaticPromotionalPage.cshtml")*@

@section Note
{
    I am a Render Section Area.
}

<h2>Hello world</h2>