@{
    ViewBag.Title = "Custom Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<div class="hideParent">
    <h2>Hello World 2021!</h2>

    Hello MVC Core App! I am in a RenderBody section.

    @*@RenderPage("~/Views/Shared/_StaticPromotionalPage.cshtml")*@

    @section Note
    {
        <div class="hideParent">
            I am a Render Section Area.
        </div>
    }

    <h2>Hello world</h2>
</div>

@*<partial name="~/Views/Shared/_StaticPromotionalPage.cshtml" />*@

<script src="~/js/jQuery-3.2.1.js"></script>
<script>
    $(document).ready(function () {
        $('.nav-link').click(function () {
            $('.hideParent').hide();

            var id = $(this).attr("id");
            if (id == "home") {
                $('.hideParent').show();
                $("#result").hide();
            }
            else {
                $("#result").show();
                //$("#result").html("Loading ......");
                $("#result").load('@Url.Action("LoadPartialView", "Home")', { passVal: id });
                $(".nav-link").removeAttr('href');
            }
        });
    });
</script>

@*Content loads here - Starts*@
<div id="result"></div>
@*Content loads here - Ends*@
